<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beoneaid"
    android:installLocation="auto"
    android:versionCode="2"
    android:versionName="2.8.0719">

    <application
        android:icon="@drawable/icon"
        android:testOnly="false"
        android:name=".application.BaseApplication"
        android:label="Beone助手" >

        <activity
            android:name=".activity.ShowActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 移动统计分析 -->
        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="'599f8102'" />
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="Android_Demo" />


        <service
            android:name=".service.BeoneAidService">
            <intent-filter>
                <action android:name="com.beoneaid.api.IBeoneAidService"/>
            </intent-filter>
        </service>

        <receiver
            android:name=".broad.BeoneAidReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.wakeup_byuser" />
                <action android:name="android.intent.action.show_batteryinfo" />
                <action android:name="com.android.interceptPowerKeyLongPress" />
                <action android:name="com.android.interceptPowerKeyUp" />
                <action android:name="com.android.update_success"/>
                <action android:name="com.android.install_apk"/>
                <action android:name="android.intent.action.speak_text" />
                <action android:name="android.intent.action.ota_sw_update" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broad.NetworkStateReceiver">
            <intent-filter>
                //检测网络变化的acton
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />


</manifest>